body{
font-family: 'Open Sans', sans-serif;
}
#pi{
    background-color: palevioletred
    
}
#po{
    background-color: aqua
}
#pum{
    background-color: beige
}
a:link {
    text-decoration: none;
    color: black;
}
#name{
    font-family: 'Lobster Two', cursive;
    font-size: 1.6em;
}
a:visited {
    text-decoration: none;
    color: black;

}

a:hover {
    text-decoration: none;
    color: green;

}

a:active {
    text-decoration: none;
    color: black;
}
.element {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.parent {
  position: relative;
}
.child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}
.bg{
width:80%;

}
.spacer{
    height:100px;
}